*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}
.title {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size:4rem ;
    color: antiquewhite;
    text-align: center;
   
}
nav {  
    
    font-family: 'Raleway', sans-serif;
    color: antiquewhite;
    font-size: 1.5rem;
}


ul li a{
    color: antiquewhite;
    text-decoration: none;
    list-style: none;
    
}

.nav_list {
    text-align: center;
    line-height: 50px;
}
.nav_list ul li a::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(155, 141, 14);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.text_main {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    line-height:20px;
}

.text_footer {
    margin-top: 20px;
    text-align: center;
}
.container_footer-icons{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
    
.container_manteca {
    text-align: center;
}
.title_manteca {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.list_manteca-title{
    margin-top: 10px;
    margin-bottom: 20px;
}
.manteca_info{
    margin-right: 20px;
    margin-left: 20px;
}
.container_brownie{
    
    text-align: center;
    
}
.title_brownie {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.list_brownie-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.brownie_info{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.container_main{
    text-align: center;
}
.solicitud_contacto{
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}
.cultivo{
    text-align: center;
}
.cannabismedicinal{
    text-align: center;
}
.containermedicinal_list{
    width: 200px; height: 1200px }

.beneficios_title{
    font-size: 25px;
    text-transform: uppercase;
}

.medicinal_list{
    
    margin-left: 35px;
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
    text-transform: uppercase;
}
.cannabismedicinal_title{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.containermedicinal{
    display: flex;
}
.medicinalinfo_parrafo{
  
    
    margin-top: 20px;
    margin-right: 30px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
}
.medicinalinfo_title{
    font-size: 40px;
}
.medicinalinfo {
    box-shadow: 1em 2em 1em 1em 1em brown;
} 
@media (min-width: 768px) {
  
    .nav_list {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
    }
    .container_manteca{
        display: flex;
        justify-content: space-around;
    }
    .container_brownie{
        justify-content: space-between;
        display: flex;
    }
    .list_brownie{
        list-style: none;
    }
    .list_manteca{
        list-style: none;
    }
    .title_manteca{
        text-align: left;
    }
    .title_brownie{
        text-align: left;
    }
    .container_cannabishembra{
        margin-top: 20px;
        display: flex;

    }
    .container_cannabismacho{
        margin-top: 20px;
        display: flex;
    }
    .cannabis_hembra{
        margin-top: 20px;
        font-size: 30px;
        text-align: left;
    }
    .cannabis_macho{
        font-size: 30px;
        margin-top: 20px;
        text-align: left;
    }
    .cannabishembra_info{
        font-size: 20px;
        padding-left: 30px;
        padding-top: 20px;
    }
    .cannabismacho_info{
        font-size: 20px;
        padding-top: 30px;
        padding-top: 20px;
    }
    
    
  }